:root{
    --header-height: 4rem;
}

*,::before,::after{margin: 0;padding: 0;box-sizing: border-box;}



body{
    position: relative;
    height: 100vh;
    background-color: hsl(0 0% 10%);
}

.header-primary{
    position: relative;
    height: var(--header-height);
    padding: 1rem;
    
    display: grid;
    grid-template-columns: auto auto 3fr;
    grid-template-rows: auto;
    gap: 1rem;
}
.header-primary > button{
    font-size: .8rem;
    padding: 3px 5px;
    border: none;
    outline: 1px solid white;
    border-radius: 5px;

    background-color: black;
    color: white;
    box-shadow: 3px 3px 5px hsl(0 0% 100% / 0.8),
    inset 1px 1px 3px hsl(0 0% 100% / 0.8);
}
.header-primary > button[value=false]{
    background-color: black;
}
.header-primary > button[value=true]{
    background-color: cornflowerblue;
}
.header-primary > button:hover{
    background-color: hsl(0 0% 20%);
}
.header-primary > button:active{
    background-color: hsl(0 0% 20%);
    transform: scale(0.98);
}
label[for=FallingSandColorInput]{
    --data-color: "0";
    position: relative;
    width: 100%;
    height: 100%;
}
label[for=FallingSandColorInput]::before{
    content: "";
    position: absolute;
    top: -5px; left: 0;
    width: 100%;
    height: 2rem;
    background: linear-gradient(90deg,
    hsl(0 100% 50%),
    hsl(60 100% 50%),
    hsl(120 100% 50%),
    hsl(180 100% 50%),
    hsl(240 100% 50%),
    hsl(300 100% 50%),
    hsl(360 100% 50%));
    pointer-events: none;
    cursor: pointer;
}

#FallingSandColorInput{
    width: 100%;
}

.falling-sand-active-color-display{
    position: absolute;
    bottom: 10%; right: 1%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    
}
main{
    height: calc(90vh - var(--header-height) - 5px);
}

#FallingSandCanvas{

    width: 100%; height: 100%;
    background-color: hsl(0 0% 0%);
}