*,::before,::after{margin: 0;padding: 0;box-sizing: border-box;}



body{
    position: relative;
    min-height: 100vh;
}

#FallingSandCanvas{
    position: absolute;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: hsl(0 0% 0%);
}